.about-list {
  display: flex;
}

.about-list-item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-right-side {
  padding-left: 64px;
}

.about-text {
  @include font(14px, 400, 26px);
  letter-spacing: 0.02em;
  margin-bottom: 40px;
  padding-right: 60px;
}
