.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.02em;

  .hero & {
    width: 280px;
  }

  .about & {
    margin-bottom: 20px;
  }
}

.description-light-theme {
  color: #555555;
}

.description-dark-theme {
  color: #9da4bd;
}

@media screen and (min-width: 768px) {
  .description {
    .hero & {
      width: 360px;
    }
  }
}
// .description {
//   font-weight: 400;
//   font-size: 18px;
//   line-height: 1.667;
//   letter-spacing: 0.02em;

//   .about & {
//     margin-bottom: 20px;
//   }

//   .advantages & {
//     padding-right: 100px;
//   }

//   .hero & {
//     width: 400px;
//   }
// }
