.social-links {
  display: flex;

  .footer & {
    margin-left: auto;
  }

  .hero-left-side & {
    transform: rotate(-90deg);
    transform-origin: left bottom;
  }
}

.social-links-item {
  &:first-child {
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 60px;
      height: 1px;
      background-color: #303030;
      margin-right: 40px;
    }
  }

  &:not(:last-child) {
    margin-right: 40px;
  }
}

.social-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.364;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
