.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .about & {
    display: flex;
  }

  .advantages & {
    display: flex;
  }

  .footer & {
    display: flex;
    align-items: center;
  }

  .header & {
    display: flex;
    align-items: center;
  }

  .hero & {
    display: flex;
  }
}
