$main-font: "Open Sans", sans-serif;
$secondary-font: "Raleway", sans-serif;
$title-dark-theme-color: #fff;
$title-light-theme-color: #303030;
$text-dark-theme-color: #9da4bd;
$text-light-theme-color: #555555;
$accent-color: #ff6c00;
